<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"></meta>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  ></meta>

  <title>
  </title>
</head>

<body>
 Dear {{ name }},<br>

 You have made {{ count }} orders this month.<br> Spent a total of Rs. {{ total_amount }} with us<br>
 Thank you so much!<br>
 Keep Shopping!<br>
 <br>
 Regards,<br>
 Team Shopzee
<script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>